fastapi
uvicorn[standard]
pymongo
python-dotenv
motor
email-validator
PyJWT
bcrypt
python-multipart
python-jose

httpx
pydantic

langchain
langchain-community
langgraph
langsmith

langchain-google-genai
langchain-gemini
langchain-groq
PyPDF2
pymupdf
matplotlib
gradio
langgraph-checkpoint-mongodb
